@use '../../const/_variables.scss' as *;
.copyText{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.2s;
  span{
    font-size: 14px;
    font-weight: 500;
  }
  img{
    width: 16px;
    transition: transform 0.2s;
  }
  &:hover{
    color: $blue;
    img{
      fill: $blue;
      transform: rotate(180deg);
    }
  }

}