@mixin gradient-text($from, $to) {
  background: linear-gradient(90deg, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px 8px;
}