@use '../../../const/_mixins.scss' as *;
@use '../../../const/_variables.scss' as *;
.profile {
  @include container;
  .name{
    margin-top: 24px;
  }
  .email{
    color: $blue;
  }
  .role{
    margin: 16px 0;
  }
  .uuid{
    color: #979797;
  }
  .updateButton{
    margin-top: 24px;
  }
}